<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OCSA Verification</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <style>
            * {
                font-family: 'Montserrat', sans-serif;
            }
            p {
                font-size: 28px;
                width: fit-content;
                margin: 24px auto auto;
            }
        </style>
    </head>
    <body>
        <p><%= text %></p>
    </body>
</html>